
/*   Slice 1 / 8		Color & Background & Borders Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Color
	color	
	opacity
________________________________
Background 
	background 
	background-attachment
	background-blend-mode
	background-color
	background-image
	background-position
	background-repeat
	background-clip
	background-origin
	background-size
________________________________
Border
	border
	border-bottom
	border-bottom-color
	border-bottom-left-radius
	border-bottom-right-radius
	border-bottom-style
	border-bottom-width
	border-color
	border-image
	border-image-outset
	border-image-repeat
	border-image-slice
	border-image-source
	border-image-width
	border-left
	border-left-color
	border-left-style
	border-left-width
	border-radius
	border-right
	border-right-color
	border-right-style
	border-right-width
	border-style
	border-top
	border-top-color
	border-top-left-radius
	border-top-right-radius
	border-top-style
	border-top-width
	border-width
	box-decoration-break
	box-shadow
________________________________
*/
/*COLOR-SCHEME============================================================*/
/*HEX*/
$clr-txt-main: #d5d7d8;
$clr-txt-auxiliary: #8e8e8e;
$clr-txt-attention: #cc181e;
$clr-link: #2793e8;

$clr-bgr-main: #050505;
$clr-bgr-auxiliary: #0F0F0F;
$clr-bgr-attention: #1c1c1c;

/*++++++++++++++++++++++++++++++++++++*/
/*RGBA*/
$clr-txt-attention-1: rgba(204,24,30, .1);

$clr-bgr-main-3: rgba(5,5,5, .3);
$clr-bgr-auxiliary-8: rgba(15,15,15, .8);

$clr-empty: rgba(0,0,0, 0);
/*
$clr-txt-main: rgba(213, 215, 216, 1);
$clr-txt-auxiliary: rgba(142, 142, 142, 1);
$clr-txt-attention: rgba(204,24,30, 1);
$clr-link: rgba(39,147,232, 1);

$clr-bgr-main: rgba(0,0,0, 1);
$clr-bgr-auxiliary: rgba(15,15,15, 1);
$clr-bgr-attention: rgba(28, 28, 28, 1);
*/

/*RESET===================================================================*/
h3, figcaption {
	color: $clr-txt-main;
}

/*BASIC STYLE===================================================================*/
.hr-smal { 
	background: $clr-txt-attention;
	border: none;
}
.heart {
	color: $clr-txt-attention;
}
/*Control-Button*/
.control-btn {
	color: $clr-link;
}
/*Close-Button*/
.close {
	color: $clr-link;
	background: $clr-bgr-attention;
	border-radius: 50%;
}

/*HEADER===================================================================*/
.title__descr {
	color: $clr-txt-attention;
}
.title__control {
	color: $clr-txt-main;
}
.name {
	background-color: #666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: transparent;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	-webkit-box-reflect: below 0 -webkit-linear-gradient(bottom, rgba(255, 255, 255, .5) 0%, transparent 50%, transparent 100%);
}

/*CUBE===================================================================*/
.cube__side {
	color: $clr-link;
}
.cube__side,
.cube__atom {
	background-color: $clr-bgr-auxiliary-8;
	border: 1px solid $clr-txt-attention;
	border-radius: 2vmin;
}
.cube__title {
	color: $clr-txt-main;
}

/*CUBE-CONTENT===================================================================*/
.cube__atom {
	opacity: 0;
	color: $clr-txt-auxiliary;
}
.sonar {
	border-radius: 10%;
	background: $clr-txt-attention;
	opacity: 0;
}
/*Works view*/
.works__img {
	border-radius: 2vmin;
}
/*Contact view*/
.contact__label {
	color: $clr-txt-auxiliary;
}
.contact__author,
.contact__msg {
	color: $clr-txt-main;
	background-color: $clr-bgr-auxiliary;
	border: none;
	border-radius: 1vmin;
	box-shadow: 5px 5px 20px $clr-txt-attention;
}
.contact__send-btn {
	background: url(../svg/svg-min/contact/svg_send.svg) no-repeat;
	background-size: 100% 100%;
	border-style: none;
}
/*additional contacts*/
.addit-contact__info {
	color: $clr-link;
}
/*PARALAX===================================================================*/
.parallax__layer--bgr {
	background: url(../img/background/background.jpg) no-repeat;
	background-size: 100% 100%;
}
.parallax__layer--mask {
	background-image: radial-gradient(ellipse farthest-corner at center, $clr-bgr-main-3 0%, $clr-bgr-main 100%);
}

/*BORDERS===================================================================*/
.borders {
	background: url(../img/borders.png) no-repeat;
}