.svg-arrow--svg_arrow {
	background: url("svg/sprite.view.svg") 20% 0 no-repeat;
}

.svg-arrow--svg_arrow-dims {
	width: 38px;
	height: 23.44px;
}

.svg-contact--svg_contact {
	background: url("svg/sprite.view.svg") 80% 20.105820105820104% no-repeat;
}

.svg-contact--svg_contact-dims {
	width: 38px;
	height: 38px;
}

.svg-contact--svg_send {
	background: url("svg/sprite.view.svg") 0 19.48148148148148% no-repeat;
}

.svg-contact--svg_send-dims {
	width: 38px;
	height: 38px;
}

.svg-cooperation--svg_ability-un {
	background: url("svg/sprite.view.svg") 20% 19.48148148148148% no-repeat;
}

.svg-cooperation--svg_ability-un-dims {
	width: 38px;
	height: 38px;
}

.svg-cooperation--svg_cooperation {
	background: url("svg/sprite.view.svg") 40% 0 no-repeat;
}

.svg-cooperation--svg_cooperation-dims {
	width: 38px;
	height: 38px;
}

.svg-cooperation--svg_importance {
	background: url("svg/sprite.view.svg") 0 39.58730158730158% no-repeat;
}

.svg-cooperation--svg_importance-dims {
	width: 38px;
	height: 38px;
}

.svg-cooperation--svg_love {
	background: url("svg/sprite.view.svg") 20% 39.58730158730158% no-repeat;
}

.svg-cooperation--svg_love-dims {
	width: 38px;
	height: 38px;
}

.svg-cooperation--svg_ready {
	background: url("svg/sprite.view.svg") 40% 39.58730158730158% no-repeat;
}

.svg-cooperation--svg_ready-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_PostCSS {
	background: url("svg/sprite.view.svg") 60% 0 no-repeat;
}

.svg-knowledge--svg_PostCSS-dims {
	width: 38px;
	height: 37.59px;
}

.svg-knowledge--svg_bem {
	background: url("svg/sprite.view.svg") 60% 19.319525106645425% no-repeat;
}

.svg-knowledge--svg_bem-dims {
	width: 38px;
	height: 32.43px;
}

.svg-knowledge--svg_css3 {
	background: url("svg/sprite.view.svg") 60% 37.04761904761905% no-repeat;
}

.svg-knowledge--svg_css3-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_gimp {
	background: url("svg/sprite.view.svg") 0 59.6931216931217% no-repeat;
}

.svg-knowledge--svg_gimp-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_github {
	background: url("svg/sprite.view.svg") 20% 59.6931216931217% no-repeat;
}

.svg-knowledge--svg_github-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_gulp {
	background: url("svg/sprite.view.svg") 40% 59.6931216931217% no-repeat;
}

.svg-knowledge--svg_gulp-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_html5 {
	background: url("svg/sprite.view.svg") 60% 59.6931216931217% no-repeat;
}

.svg-knowledge--svg_html5-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_javascript {
	background: url("svg/sprite.view.svg") 80% 0 no-repeat;
}

.svg-knowledge--svg_javascript-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_jquery {
	background: url("svg/sprite.view.svg") 0 0 no-repeat;
}

.svg-knowledge--svg_jquery-dims {
	width: 38px;
	height: 36.82px;
}

.svg-knowledge--svg_knowledge {
	background: url("svg/sprite.view.svg") 80% 40.21164021164021% no-repeat;
}

.svg-knowledge--svg_knowledge-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_lang {
	background: url("svg/sprite.view.svg") 80% 57.868020304568525% no-repeat;
}

.svg-knowledge--svg_lang-dims {
	width: 38px;
	height: 30px;
}

.svg-knowledge--svg_language {
	background: url("svg/sprite.view.svg") 0 79.7989417989418% no-repeat;
}

.svg-knowledge--svg_language-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_sass {
	background: url("svg/sprite.view.svg") 40% 19.289340101522843% no-repeat;
}

.svg-knowledge--svg_sass-dims {
	width: 38px;
	height: 30px;
}

.svg-knowledge--svg_source-tree {
	background: url("svg/sprite.view.svg") 20% 79.7989417989418% no-repeat;
}

.svg-knowledge--svg_source-tree-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_sublime-text {
	background: url("svg/sprite.view.svg") 40% 79.7989417989418% no-repeat;
}

.svg-knowledge--svg_sublime-text-dims {
	width: 38px;
	height: 38px;
}

.svg-knowledge--svg_webstorm {
	background: url("svg/sprite.view.svg") 60% 77.88680024788268% no-repeat;
}

.svg-knowledge--svg_webstorm-dims {
	width: 38px;
	height: 33.36px;
}

.svg-knowledge--svg_wordpress {
	background: url("svg/sprite.view.svg") 100% 0 no-repeat;
}

.svg-knowledge--svg_wordpress-dims {
	width: 38px;
	height: 38px;
}

.svg-profile--svg_about {
	background: url("svg/sprite.view.svg") 100% 20.105820105820104% no-repeat;
}

.svg-profile--svg_about-dims {
	width: 38px;
	height: 38px;
}

.svg-profile--svg_education {
	background: url("svg/sprite.view.svg") 100% 40.21164021164021% no-repeat;
}

.svg-profile--svg_education-dims {
	width: 38px;
	height: 38px;
}

.svg-profile--svg_experience {
	background: url("svg/sprite.view.svg") 100% 60.317460317460316% no-repeat;
}

.svg-profile--svg_experience-dims {
	width: 38px;
	height: 38px;
}

.svg-profile--svg_hobbies {
	background: url("svg/sprite.view.svg") 0 99.9047619047619% no-repeat;
}

.svg-profile--svg_hobbies-dims {
	width: 38px;
	height: 38px;
}

.svg-profile--svg_profile {
	background: url("svg/sprite.view.svg") 20% 99.9047619047619% no-repeat;
}

.svg-profile--svg_profile-dims {
	width: 38px;
	height: 38px;
}

.svg-services--svg_marker {
	background: url("svg/sprite.view.svg") 40% 99.9047619047619% no-repeat;
}

.svg-services--svg_marker-dims {
	width: 38px;
	height: 38px;
}

.svg-services--svg_service {
	background: url("svg/sprite.view.svg") 60% 99.9047619047619% no-repeat;
}

.svg-services--svg_service-dims {
	width: 38px;
	height: 38px;
}

.svg-works--svg_works {
	background: url("svg/sprite.view.svg") 80% 99.9047619047619% no-repeat;
}

.svg-works--svg_works-dims {
	width: 38px;
	height: 38px;
}

