
/*   Slice 1 / 8		Color & Background & Borders Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Color
	color	
	opacity
________________________________
Background 
	background 
	background-attachment
	background-blend-mode
	background-color
	background-image
	background-position
	background-repeat
	background-clip
	background-origin
	background-size
________________________________
Border
	border
	border-bottom
	border-bottom-color
	border-bottom-left-radius
	border-bottom-right-radius
	border-bottom-style
	border-bottom-width
	border-color
	border-image
	border-image-outset
	border-image-repeat
	border-image-slice
	border-image-source
	border-image-width
	border-left
	border-left-color
	border-left-style
	border-left-width
	border-radius
	border-right
	border-right-color
	border-right-style
	border-right-width
	border-style
	border-top
	border-top-color
	border-top-left-radius
	border-top-right-radius
	border-top-style
	border-top-width
	border-width
	box-decoration-break
	box-shadow
________________________________
*/
/*COLOR-SCHEME============================================================*/
/*HEX*/
$clr-txt-main: #fff;
$clr-txt-auxiliary: #606060;
$clr-text-attention: #cc181e;
$clr-link: #2793e8;

$clr-bgr-main: #000;
$clr-bgr-auxiliary: #0F0F0F;
$clr-bgr-attention: #1c1c1c;

/*++++++++++++++++++++++++++++++++++++*/
/*RGBA*/
$clr-txt-main: rgba(255, 255, 255, 1);
$clr-txt-auxiliary: rgba(96, 96, 96, 1);
$clr-txt-attention: rgba(204,24,30, 1);
$clr-link: rgba(39,147,232, 1);

$clr-bgr-main: rgba(0,0,0, 1);
$clr-bgr-auxiliary-8: rgba(15,15,15, .8);
$clr-bgr-attention: rgba(28, 28, 28, 1);


.hr-smal {
	background: $clr-text-attention;
	border: none;
}

.heart {
	color: $clr-text-attention;
}
/*CLOSE-Button===================================================================*/
.close {
	color: $clr-link;
	background: $clr-bgr-attention;
	border-radius: 50%;
}





/*CUBE===================================================================*/
.cube__side,
.cube__atom {
	background-color: $clr-bgr-auxiliary-8;
	border: 1px solid red;
	border-radius: 2vmin;
}

.cube__side {
	color: $clr-link;
}

/*CUBE-CONTENT===================================================================*/
.cube__preview-2 {
	background-color: $clr-bgr-auxiliary-8;
	border: 1px solid red;
	border-radius: 2vmin;
	box-shadow: 5px 5px 20px #000;
}
.cube__atom {
	opacity: 0;
}

.sonar {
	border-radius: 10%;
	background: #181a1c;
	opacity: 0;
}



/*send - bytton*/
.contact__send-btn {
	background: url(../img/svg/svg-min/contact/svg_send.svg) no-repeat;
	background-size: 100% 100%;
	border-style: none;
}
.wf-contact__send-btn {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition: transform ease-out 0.1s, background 0.2s;
}





/*PARALAX===================================================================*/
.parallax__layer--bgr {
	background: url(../img/background.jpg) no-repeat;
	background-size: 100% 100%;
}
.parallax__layer--mask {
	background-image: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,.3) 0%, #000 100%);
}


/*BORDERS===================================================================*/
.borders {
	background: url(../img/borders.png) no-repeat;
}








