/*   Slice 2 / 8		Basic Box Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
Display Position Z-index Clear Vertical-align
	display
	float
	position
	z-index
	left
	right
	top
	bottom
	clear
	clip
	vertical-align
________________________________
Width & Height Margin & Padding
	width
	max-width
	min-width
	height
	max-height
	min-height
	margin
	margin-bottom
	margin-left
	margin-right
	margin-top
	padding
	padding-bottom
	padding-left
	padding-right
	padding-top
________________________________
Overflow Visibility
	overflow
	overflow-x
	overflow-y
	visibility
________________________________
*/
/*RESET===================================================================*/
html, body,
ul,
h1, h2, h4, h3, h5, h6, p,
hr,
figure {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.auto {
    margin: auto;
}

/*BASIC STYLE===================================================================*/
.hr-smal {
    width: 50%;
    height: rem(2);
    margin: rem(5) auto;
}
/*Control-Button*/
.control-btn {
    display: inline-block;
    width: rem(20);
    height: rem(15);
}
/*Close-Button*/
.wf-close {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.close {
    width: rem(50);
    height: rem(50);
    margin: rem(15);
}

/*HEADER===================================================================*/
.title {
    position: absolute;
    width: 95%;
    margin: rem(20);
}

/*Nav - menu*/
.menu__btn {
    max-width: rem(90);
    height: rem(25);
    margin: rem(10);
}
.menu__title {
    display: block;
}
.menu__svg {
    width: 100%;
    opacity: 0;
    transform: translateY(-200%);
}
.active {
    opacity: 1;
    transform: translateY(-170%);
}
/*Title Control*/
.title__control {
    position: fixed;
    left: 0;
    bottom: 18%;
    width: 100%;
}
/*Title Name*/
.name {
    position: fixed;
    bottom: 8%;
    right: 5%;
}

/*BOX===================================================================*/
#box {
    display: flex;
    height: 95vh;
    touch-action: pinch-zoom;
    /*fix error from chrome - need test with
    pan-right
    pan-y
    pan-down
    */
}

/*CUBE===================================================================*/
#viewport {
    margin: auto;
}
.cube {
    position: relative;
    width: rem(400);
    height: rem(400);
    margin: auto;
}
.cube__title {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.cube__title-svg {
    margin: 10px auto;
}
.cube__side {
    position: absolute;
    width: rem(340);
    height: rem(340);
}
/*CUBE-CONTENT===================================================================*/
.wf-cube__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
}
.cube__preview {
    $width: 30vmin;
    $height: 30vmin;

    position: absolute;
    top: calc(50% - ($height / 2));
    left: calc(50% - ($width / 2));
    width: $width;
    height: $height;
}
.cube__preview-2 {
    $width: 70vw;
    $height: 50vh;

    position: absolute;
    top: rem(220);
    left: calc(50% - ($width / 2));
    width: $width;
    min-height: $height;
}
.cube__atom {
    display: block;
    position: absolute;
    max-width: 100%;
    padding: rem(5);
}

.cube__atom--bg {
    min-width: 30vmin;
    min-height: 30vmin;
}
.cube__atom--sml {
    min-width: 20vmin;
    min-height: 20vmin;
}
.sonar {
    $width: rem(50);
    $height: rem(50);

    position: absolute;
    top: calc(50% - ($height / 2));
    left: calc(50% - ($width / 2));
    width: $width;
    height: $height;
}
/*WORKS===================================================================*/
.works__img {
    width: 100%;
}

/*CONTACT===================================================================*/
$contact__from-w: 80%;

.contact__from {
    width: $contact__from-w;
}

.contact__author {
    min-width: 100%;
    margin: rem(35) 0 rem(5) 0;
    padding: rem(12);
}
.contact__label {
    position: absolute;
    bottom: rem(60);
    left: 0;
}
.contact__msg {
    width: $contact__from-w;
    min-height: rem(150);
    margin: rem(15) 0;
    padding: rem(12);
}
/*send - bytton*/
.wf-contact__send-btn {
    display: inline-block;
    position: absolute;
    top: 48%;
    right: 5%;
    padding: rem(10);
    width: rem(90);
    height: rem(90);
}
.contact__send-btn {
    width: 100%;
    height: 100%;
}
/*additional contacts*/
.addit-contact {
    margin: rem(10);
}

    /*PARALAX===================================================================*/
.container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.parallax__layer {
    width: 110%;
    height: 125%;
    margin: -10% 0 0 -5%;
}

/*BORDERS===================================================================*/
.borders {
    position: absolute;
    z-index: 100;
}