
/*   Slice 3 / 7		Flex Box Properties
________________________________
::::::::::::::::::::::::
Includes Properties
::::::::::::::::::::::::
________________________________
	flex-flow
	flex-direction
	flex-wrap
	justify-content	
	align-items
	align-content
________________________________
for Flex Item
	align-self
	flex
	flex-grow
	flex-shrink
	flex-basis
	order
________________________________
*/
/* ================================================================ */
.fr_s_hh,.fr_e_hh,.fr_c_hh, .fr_b_hh,.fr_s_ss,.fr_s_cc,.fr_c_ss,.fr_c_cc,.fr_a_cc,.fr_b_cc,.fr_a_ss
{display: flex; flex-flow: row wrap; }
/* ================================================================ */
.frn_s_cc
{display: flex; flex-flow: row nowrap; }
/* ================================================================ */
.fc_c_hh,.fc_c_cc,.fc_b_hh
{display: flex; flex-flow: column wrap; }
/* ================================================================ */
.fr_s_ss,.fr_s_hh,.fr_s_cc,.frn_s_cc
{ justify-content: flex-start; }

.fr_e_hh
{ justify-content: flex-end; }

.fr_c_cc,.fr_c_hh,.fr_c_ss,
.fc_c_hh,.fc_c_cc
{ justify-content: center; }

.fr_b_cc,.fr_b_hh,.fc_b_hh
{ justify-content: space-between; }

.fr_a_ss,.fr_a_cc
{ justify-content: space-around; }
/* ================================================================ */
.fr_a_ss,  .fr_c_ss, .fr_s_ss
{ align-items: flex-start; }

.fr_c_cc,.fr_b_cc, .fr_a_cc,.fr_s_cc,.fc_c_cc,.frn_s_cc
{ align-items: center; }

.fr_s_hh,.fr_e_hh, .fr_c_hh, .fr_b_hh,.fc_c_hh,.fc_b_hh
{ align-items: stretch; }
/* ================================================================ */
.fr_a_ss,  .fr_c_ss, .fr_s_ss
{ align-content: flex-start; }

.fr_c_cc,.fr_b_cc,.fr_a_cc,.fr_s_cc,.fc_c_cc,.frn_s_cc
{ align-content: center; }

.fr_s_hh,.fr_e_hh,.fr_c_hh, .fr_b_hh,.fc_c_hh,.fc_b_hh
{ align-content: stretch; }
/* ================================================================ */

.f1
{ flex: 1 1 auto; }
.header
{ flex: 0 1 58.75rem; }
.logo
{ flex: 0 1 10rem; }
.log-in
{ flex: 0 1 8.78rem; }
.menu
{ flex: 0 1 58.75rem; }
.nav-menu
{ flex: 1 1 34.7rem; }
.counters
{ flex: 1 1 11.25rem; }
.wishlist-counter,
.cart-counter
{ flex: 1 1 5.55rem; }
.wishlist-counter__number,
.cart-counter__number
{ flex: 0 1 1.25rem; }
.top__descr1
{flex: 0 1 23.75rem;}
.action-menu
{ flex: 0 1 10.625rem; }
.s-action-menu__btn
{ flex: 0 1 2.5rem; }
.top__nav
{ flex: 0 1 60rem; }
.on-sale,
.special-offers,
.must-have
{ flex:  0 1 20rem; }
.items__btn-show 
{ flex: 0 1 6.25rem; }
.item
{ flex: 0 1 18.75rem; }
.divider-addon
{ flex: 0 1 58.75rem; }
.shipping,
.testimonials
{ flex: 0 1 13.75rem; }
.blog-news
{ flex: 0 1 28.8rem; }
.blog-news__artcl
{ flex: 0 1 22rem; }
.prefooter-blc
{ flex: 0 1 15.625rem; }
.mail-form
{ flex: 0 1 15.6rem; }
.mail-form__text
{ flex: 0 1 13.3rem; }
.mail-form__submit
{ flex: 0 1 2.3rem; }
.social
{ flex: 0 1 13.2rem; }
.menu-smal
{ flex: 0 1 22.5rem; }
/* ================================================================ */

.testimonials__name			/*testimonials in addon*/
{ order: 1; }

.blog-news__data			/*blog news data*/
{ order: -1; }
/* ================================================================ */
